body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
  /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainHeading {
  color: #ffffff;
}

.todosBox {
  background-color: #ffffff;
  width: 50%;
  padding: 16px;
  border-radius: 10px;
}

.todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #2073e0;
  border-radius: 10px;
  margin: 15px;
  padding: 0 20px 0 20px;
  background: #16347a;
}

.iconButton {
  width: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ff0818;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 18px;
}

.popupBtnDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.okayBtn {
  cursor: pointer;
  background: #4b6cb7;
  color: #ffffff;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cancelBtn {
  cursor: pointer;
  background: #ff0818;
  color: #ffffff;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.inputBox {
  width: 190px;
  height: 30px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.addBtn {
  cursor: pointer;
  background: #4b6cb7;
  color: #ffffff;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
